@media screen and (max-width: 600px){
    .aeroplane{
        display: none;
    }
} 


.action-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-nav ul{
    display: flex;
    gap: 0px 10px;
}
.action-item{

    width: 68px;
    height: 73px;
    border-radius: var(--rounded-md);
}
.action-item-active{
    background-color: var(--color-primary);
}

.action-item a{
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
}
.action-item a img{
    width: 24px;
    height: 24px;
    margin: 5px auto;
}
.search-form{
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--rounded-2xl);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: flex-start;
    padding: 30px;
    z-index: 9;
    margin: 15px 0px;
    filter: var(--drop-shadow-xl);
}
.search-form .form-header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px 10px;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.search-form .form-header span{
    padding: 10px 15px;
    border-radius: 999px;
    cursor: pointer;
    white-space: nowrap;
}
.form-header-span-active{
    background-color: #F0F2F6;
}
.search-form .form-header span:hover{
    background-color: #F0F2F6;
}
.form-content{
    display: flex;
    gap: 10px 10px;
    flex-wrap: wrap;
}
.input-block{
    background-color: var(--color-solid-medium-25);
    color: var(--color-darkblue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:5px;
    border-radius: var(--rounded-lg);
    border: 1px solid #EEF0F4;
    gap: 5px 0px;
    height: 88px;
    flex-grow: 1;
    min-width: 300px;
}
.input-block input{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
    letter-spacing: 0.04px;
    border: none;
    background: transparent;
    outline: none;
    padding-left: 10px;
    width: 100%;
}
.input-block span{
    color: #475073;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-title{
    display: flex;
    align-items: center;

}
.input-title span{
    color: #475073;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-fl-btn{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px; /* 100% */
    letter-spacing: 0.18px;
    text-transform: uppercase;
    border-radius: 6px;
    background: var(--color-solid-secondary-100, #DF142D);
    max-width: 224px;
    height: 88px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
}
.class-block{
    position: relative;
    color: var(--color-darkblue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px 0px;
    flex-grow: 1;
    width: 100%;
}
.class-input{
    width:300px ;
    border-radius: 12px;
    position: absolute;
    top: 100%;
    left: 0;
    /* width: 100%; */
    background-color: var(--color-white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 20px;
}
.cl-title{
    color: #2E3758;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
    letter-spacing: 0.04px;
    margin-bottom: 10px;
}
.class-input input,.class-input select{
    width: 100%;
    padding: 5px;
    border: 1px solid #EEF0F4;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(13.591408729553223px);
    margin-bottom: 10px;
}
.class-input.hidden{
    display: none;
}