header{
    background: var(--color-gradient-primary-2100);
    width: 100vw;
    height: 400px;
    position: relative;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 100;
    background: var(--color-primary);
}
@media screen and (max-width: 750px){
    .topbar{
        top: 0;
    }
}
.blur-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 999px;
    background-color: #d0d0d069;
    backdrop-filter: blur(5px);
    border: none;
    cursor: pointer;
    gap: 0px 15px;
    color: var(--color-white);
    border: 1px solid #d0d0d069;
    /* outline: none; */
}
.blur-btn .btn-title{
    display: flex;
    align-items: center;
    gap: 0px 10px;
}
.blur-btn .btn-title div{
    background-color: var(--color-white);
    width: 30px;
    height: 30px;
    border-radius: 999px;
}

.left{
    display: flex;
    align-items: center;
    gap: 0px 20px;
}
.right{
    display: flex;
    gap: 0px 20px;
}
.btnbar{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding-right: 30px;
    z-index: 200;
}
@media screen and (max-width: 750px){
    .partner-btn{
        display: none;
    }
    .btnbar{
        display: none;
    }
}

.cloud1{
    position: absolute;
    top: 0;
    left: 0;    
}
.cloud2{
    position: absolute;
    top: 0;
    right: 0%;    
}
