
.best-offer-section .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.best-offer-section .title span:nth-child(1){
    color: #282E44;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.062px;
}
.best-offer-section .title span:nth-child(2){
    color: #282E44;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
}
.offers{
    margin-top: 20px;
}
.offer-tab{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    gap: 20px 20px;
    /* background-color: #475073; */
    border-bottom: 1px solid #D8D8D8;
    flex-wrap: wrap;
}
.offer-tab:nth-last-child(1){
    border-bottom: 1px solid #e0e0e000;
}
.offer-left{
    display: flex;
    align-items: center;
    gap: 0px 20px;
    width: 350px;
}
.offer-via{
    color: #A2A8BF;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.13px;
}
.offer-via-title{
    color: #282E44;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.13px;
}
.offer-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px 20px;
    width: 600px;   
}
.offer-right .offer-price{
    color: #282E44;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px; /* 100% */
    letter-spacing: 0.04px;  
}
.offer-right .offer-date{
    color: #282E44;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.04px;  
}
.offer-book-btn button{
    display: flex;
    align-items: center;
    padding: 12px 24px;
    gap: 0px 10px;
    border-radius: 999px;
    border: none;
    background-color: transparent;
}
.book-icon svg path{
    fill: #000;
}
.offer-book-btn button:hover , .offer-book-btn .active-btn{
    background-color: #163668;
}
.offer-book-btn button:hover .btn-title , .offer-book-btn .active-btn .btn-title{
    color: #FFF;
}
.offer-book-btn button:hover .book-icon svg path, .offer-book-btn .active-btn .book-icon svg path{
    fill: #FFF;
}
.btn-title{
    color: #282E44;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px; /* 112.5% */
    letter-spacing: 0.123px;
}