.results .filters{
    width: 300px;
    height: fit-content;
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    overflow: hidden;
}
@media screen and (max-width: 650px){
    .results .filters{
        width: 100%;
    }
}
  
.fi-head{
    width: 100%;
    background-color: #F9F9F9;
    color: #191D23;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
    padding: 10px;
}
.fi-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px 0px;
}
.fi-body .price{
    width: 100%;
}
.price-head,.stop-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stop{
    width: 100%;
}
.drp{
    border: none;
    outline: none;
    color: #191D23;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
    width: calc(100% - 40px);
}
.stop-drp{
    padding: 0px 10px;
    border-radius: var(--rounded-lg);
    border: 2px solid gray;
}

.heads span:nth-child(1){
    color: #191D23;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.head-c{
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3C6097;
    border-radius: 999px;
}
.in-cp{
    display:flex ;
    flex-direction: column;
    gap: 15px 0px;

}
.check-comp{
    display: flex;
    gap: 0px 10px;
    align-items: center;
    color: #191D23;
    font-size: 14px;
    font-weight: 600;
 /* 109.091% */
}
.air-drp{margin-top: 10px;}
.air-drp div{
    margin-bottom: 5px;
}