@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("/src/css/sidebar.css");
@import url("/src/css/header.css");
:root{
    --color-primary:#0A6ADA;
    --color-primary2:#0076FF;
    --color-primary3:#163668;

    --color-secondary:#DF142D;
    --color-dark:#191D23;
    --color-medium:#686C79;
    --color-darkblue:#2E3758;
    --color-medium2:#7C829B;

    --color-white:#FFFFFF;
    --color-green:#56B64E;
    --color-red:#EB2026;
    --color-yellow:#FFC54D;

    --color-white-100: #F3F5FA;

    --color-solid-medium-25:rgba(124, 130, 155, 0.05);

    --color-gradient-primary-100: linear-gradient(141deg, #0A69DA 32.24%, #0856C8 115.93%, #0231A5 164.9%);
    --color-gradient-primary-2100: linear-gradient(168deg, #023B96 5.04%, #022357 91.26%);
    --color-gradient-secondary-100: linear-gradient(215deg, #D10015 13.77%, #FF4369 83.58%);

    --box-shadow1: 0px 15px 30px 0px rgba(71, 107, 234, 0.25);
    --box-shadow2: 16px 18px 24px 0px rgba(4, 64, 147, 0.20);
    --box-shadow3: 4px 10px 24px 0px rgba(16, 36, 64, 0.50);

    --rounded-sm: 0.125rem; /* 2px */
    --rounded: 0.25rem; /* 4px */
    --rounded-md: 0.375rem; /* 6px */
    --rounded-lg: 0.5rem; /* 8px */
    --rounded-xl: 0.75rem; /* 12px */
    --rounded-2xl: 1rem; /* 16px */

    --drop-shadow-sm	: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    --drop-shadow	: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    --drop-shadow-md	: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    --drop-shadow-lg	: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    --drop-shadow-xl	: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    --drop-shadow-2xl	: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: var(--color-white-100);
    overflow-x: hidden;
}





.app{
    width: 100%;
    height: calc(100vh - 400px);
}
.action{
    position: absolute;
    top: 180px;
    width: calc(100vw - 350px);
    left: calc(100vw - (100vw - 300px));
    transition: all 0.5s ease-in-out;
}
.action.close{
    left: calc(100vw - (100vw - 160px));
    width: calc(100vw - 220px);
}
@media screen and (max-width: 768px){
    .action{
        top:180px;
        left: 50%;
        transform: translate(-50%,-0%);
        width: 95vw;
        /* height: 400px;    */
    }
    .action.close{
        left: 50%;
        transform: translate(-50%,-0%);
        width: 95vw;
    }
} 
@media screen and (max-width: 600px){
    .aeroplane{
        display: none;
    }
} 

.action-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-nav ul{
    display: flex;
    gap: 0px 10px;
}
.action-item{

    width: 68px;
    height: 73px;
    border-radius: var(--rounded-md);
}
.action-item-active{
    background-color: var(--color-primary);
}

.action-item a{
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
}
.action-item a img{
    width: 24px;
    height: 24px;
    margin: 5px auto;
}
.search-form{
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--rounded-2xl);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    margin: 15px 0px;
    filter: var(--drop-shadow-xl);
}
.search-form .form-header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px 10px;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.search-form .form-header span{
    padding: 10px 15px;
    border-radius: 999px;
    cursor: pointer;
    white-space: nowrap;
}
.form-header-span-active{
    background-color: #F0F2F6;
}
.search-form .form-header span:hover{
    background-color: #F0F2F6;
}
.form-content{
    display: flex;
    gap: 10px 10px;
    flex-wrap: wrap;
}
.input-block{
    background-color: var(--color-solid-medium-25);
    color: var(--color-darkblue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:5px;
    border-radius: var(--rounded-lg);
    border: 1px solid #EEF0F4;
    gap: 5px 0px;
    height: 88px;
    flex-grow: 1;
    min-width: 300px;
}
.input-block input{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
    letter-spacing: 0.04px;
    border: none;
    background: transparent;
    outline: none;
    padding-left: 10px;
    width: 100%;
}
.input-block span{
    color: #475073;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-title{
    display: flex;
    align-items: center;

}
.input-title span{
    color: #475073;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-fl-btn{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px; /* 100% */
    letter-spacing: 0.18px;
    text-transform: uppercase;
    border-radius: 6px;
    background: var(--color-solid-secondary-100, #DF142D);
    max-width: 224px;
    height: 88px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
}


.main{
    width: 100%;
    /* height: 800px; */
    padding-bottom: 20px;
    /* background-color: #0076FF; */

}
.main.close{
    left: calc(100vw - (100vw - 160px));
    width: calc(100vw - 300px);
}
@media screen and (max-width: 768px){

}
.trip-package{
    width: 100%;
    height: 200px;
}
.best-offer{
    width: 100%;
    /* height: 300px; */
    background-color: var(--color-white);
    border-radius: var(--rounded-2xl);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    margin: 15px 0px;
    filter: var(--drop-shadow-xl);
}
.best-offer .title{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    color: #282E44;
    line-height: normal;
    margin-bottom: 24px;
}
.best-offer .title span:nth-child(1){
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.062px;
}
.best-offer .title span:nth-child(2){
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}
.offers{
    width: 100%;
}
.offers ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Create three columns */
    grid-gap: 20px; /* Add spacing between grid items */
    justify-items: center;
}
@media screen and (max-width: 768px) {
    .offers ul {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust columns for smaller screens */
    }
}
.offers ul li{
    width: 100%;
}
.offers ul li a{
    width: 100%;
    padding: 10px 15px;
    flex-shrink: 0;
    background-color: var(--color-solid-medium-25);
    border-radius: 180px;
    border: 1px solid #ECEDF5;
    display: flex;
    gap: 0px 20px;
}
.offers ul li a div{
    display: flex;
    flex-direction: column;
}
.offers ul li a div span:nth-child(1){
    color: #282E44;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
}
.offers ul li a div span:nth-child(2){
    color: #475073;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
    letter-spacing: 0.23px;
}
.trip-package{
    margin-top: 40px;
    position: relative;
    width: 100%;
    height:250px;
    /* background: #b6b6b6; */
    border-radius: var(--rounded-xl);
    
}
.trip-package .best-offer{
    /* background-color: #0076FF; */
    padding: 0%;
    margin-bottom: 20px;
    background: transparent;
    height: auto;
    filter: none;
}
.car-wrapper{
    position: absolute;
    top: 50px;
    left: 0;
    width: 90vw;
    height: 190px;
    /* background-color: #0076FF; */
    display: flex;
    align-items: center;
    z-index: 100;
    overflow-x: hidden;
    border-radius: var(--rounded-lg);
}
.cardcontainer{
    display: flex;
    gap: 0px 20px;
    border-radius: var(--rounded-lg);
    overflow-x: auto;
    user-select: none;
    scroll-behavior: smooth;    
}
.cardcontainer.dragging {
    scroll-behavior: unset;
    cursor: grab;
}

.cardcontainer::-webkit-scrollbar {
    display: none;
}
.cardcontainer .card{
    pointer-events: none;
}
.offers {
    width: 100%;
    /* height: 400px; */
    /* background-color: #023B96; */
}
.offer-tab{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 20px 20px;
    /* background-color: #475073; */
    border-bottom: 1px solid #D8D8D8;
    flex-wrap: wrap;
}
.offer-tab:nth-last-child(1){
    border-bottom: 1px solid #e0e0e000;
}
.offer-left{
    display: flex;
    align-items: center;
    gap: 0px 20px;
    width: 350px;
}
.offer-via{
    color: #A2A8BF;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.13px;
}
.offer-via-title{
    color: #282E44;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.13px;
}
.offer-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px 20px;
    width: 600px;   
}
.offer-right .offer-price{
    color: #282E44;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px; /* 100% */
    letter-spacing: 0.04px;  
}
.offer-right .offer-date{
    color: #282E44;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.04px;  
}
.offer-book-btn button{
    display: flex;
    align-items: center;
    padding: 12px 24px;
    gap: 0px 10px;
    border-radius: 999px;
    border: none;
    background-color: transparent;
}
.book-icon svg path{
    fill: #000;
}
.offer-book-btn button:hover , .offer-book-btn .active-btn{
    background-color: #163668;
}
.offer-book-btn button:hover .btn-title , .offer-book-btn .active-btn .btn-title{
    color: #FFF;
}
.offer-book-btn button:hover .book-icon svg path, .offer-book-btn .active-btn .book-icon svg path{
    fill: #FFF;
}
.btn-title{
    color: #282E44;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px; /* 112.5% */
    letter-spacing: 0.123px;
}
.car-wrapper .card{
    width: 462px;
    height: 188px;
    flex-shrink: 0;
    border-radius: 14px;
    background: var(--color-solid-white-100, #FFF);
    filter: var(--drop-shadow-sm);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}
.card .image{
    position: relative;
    width: 110px;
    height: 140px;
    flex-shrink: 0;
    background-color: #023B96;
    border-radius: var(--rounded-lg);
    /* overflow: hidden; */
}
.card .image img{
    border-radius: var(--rounded-lg);
    width: 100%;
    height: 100%;
}
.card .image .blur-img{
    border-radius: var(--rounded-lg);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
    width: 90%;
    height: 90%;
    filter: blur(10px);
}
.card .card-data{
    margin-left: 24px;
    width: calc(100% - 134px);
    height: 140px;
    flex-shrink: 0;
    /* background-color: #023B96; */
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}
.card .card-data .details{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    color: #596181;
    gap: 5px 0px;
}
.card .card-data .details .location{
    font-size: 12px;
    font-weight: 600;
    line-height: 12px; /* 100% */
    text-transform: uppercase;
}
.card .card-data .details .discount{
    font-size: 18px;
    font-weight: 800;
    line-height: 18px; /* 100% */
    text-transform: capitalize;
}
.card .card-data .details .type{
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}
.card .card-data .booking{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.book-btn{
    color: var(--color-solid-secondary-100, #DF142D);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    background-color: #df142c21;
    border: none;
    padding: 10px 24px;
    border-radius: 888px;
}
.coupon-title{
    color: #6C738F;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 200% */
}
.coupon-code{
    color: #475073;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.deal-banner{
    height: 205px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-radius: 14px;
    background: var(--color-solid-others-100, #FFC54D);
    margin-top: 20px;
    margin-bottom: 20px;
    filter: var(--drop-shadow-md);
    padding: 20px;
    overflow: hidden;
}
.deal-banner img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.deal-banner .left, .deal-banner .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.deal-banner .left .perfect-deal{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: -0.21px;
}
.banner-price{
    color: #DF142D;
    font-size: 48px;
    font-weight: 800;
    line-height: 48px; /* 100% */
}
.starting-at{
    color: #E12819;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px; /* 100% */
    text-transform: uppercase;
}
.book-now{
    padding: 16px 24px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px; /* 100% */
    text-transform: uppercase;
    border-radius: var(--rounded-sm);
    background: #ffffff36;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .deal-banner{
        flex-direction: column;
        justify-content: space-between;
    }
    .deal-banner img{
        left: 80%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}